extends ../rootLayout

include ../mixins/shelfs/printBooksShelf
include ../mixins/shelfs/printChannelsShelf
include ../mixins/shelfs/printCoursesShelf
include ../mixins/shelfs/printFilesShelf
include ../mixins/shelfs/printIdeasShelf
include ../mixins/shelfs/printInfographicsShelf
include ../mixins/shelfs/printMoviesShelf
include ../mixins/shelfs/printProductsShelf
include ../mixins/shelfs/printQuotesShelf
include ../mixins/shelfs/printStoriesShelf
include ../mixins/shelfs/printStoriesShelf
include ../mixins/shelfs/printToolsShelf
include ../mixins/shelfs/printVideosShelf

block globalNav
    include ../partials/globalNav

block content
    - books = content.books;
    - channels = content.channels;
    - courses = content.courses;
    - files = content.files;
    - ideas = content.ideas;
    - infographics = content.infographics;
    - movies = content.movies;
    - products = content.products;
    - quotes = content.quotes;
    - stories = content.stories;
    - tools = content.tools;
    - videos = content.videos;

    .div.article
        .article_header.pt-3.pb-3
            p= createdAt
            h1= title
            h2= subtitle
            p= description
            each menuItem in menu
                a(href='#'+menuItem)= menuItem
        .article_content
            +printBooksShelf(books)
            +printChannelsShelf(channels)
            +printCoursesShelf(courses)
            +printFilesShelf(files)
            +printInfographicsShelf(infographics)
            +printMoviesShelf(movies)
            +printProductsShelf(products)
            +printQuotesShelf(quotes)
            +printStoriesShelf(stories)
            +printToolsShelf(tools)
            +printVideosShelf(videos)





