extends ../../../views/rootLayout

include ../../../views/mixins/shelfs/printBooksShelf

block globalNav
    include ../../../views/partials/globalNav

block content
    .container
        .div.article
            .article_header.pt-3.pb-3
                .row
                    .col-md-4.order-md-2.mb-4
                        h4.d-flex.justify-content-between.align-items-center.mb-3
                            span.text-muted Sidebar
                            span.badge.badge-secondary.badge-pill 3
                    .col-md-8.order-md-1
                        h4.d-flex.justify-content-between.mb-3
                            span Create article
                            span.badge.badge-secondary.badge-pill show all
                        form.needs-validation(novalidate='')
                            .mb-3
                                label(for='articleId') Article Id
                                input#articleId.form-control(type='text', placeholder='', value='123',
                                required=false, disabled=true)
                            .mb-3
                                label(for='articleUuid') Article Uuid
                                input#articleUuid.form-control(type='text', placeholder='', value='123-123-123',
                                required=false, disabled=true)
                            .mb-3
                                label(for='articleTitle') Article title
                                input#articleTitle.form-control(type='text', placeholder='', value='',
                                required=true)
                                .invalid-feedback
                                    | Article title is required.
                            .mb-3
                                label(for='articleSubtitle') Article subtitle
                                input#articleSubtitle.form-control(type='text', placeholder='', value='',
                                required=false)
                            .mb-3
                                label(for='articleDescription') Article description
                                textarea#articleDescription.form-control(type='text', placeholder='', value='',
                                required=false)
                            .mb-3
                                label(for='articleCategories') Article categories
                                input#articleCategories.form-control(type='text', placeholder='', value='',
                                required=true)
                                .invalid-feedback
                                    | Article categories is required.
                            hr.mb-4
                            button.btn.btn-primary.btn-lg.btn-block(type='submit') Create







